body {
  background-color: black;
}
.navBrand {
  font-weight: 700;
  font-size: x-large;
}
.navBrand:hover {
  text-decoration: underline #ffd800;
  text-decoration-thickness: 5px;
}
.navbar-toggler {
  border: 3px solid black;
}
.show {
  border: none;
}
.navbar {
  background-color: aliceblue;
}

.linkContainer:hover {
  text-decoration: underline #ffd800;
  text-decoration-thickness: 5px;
}
