body {
  background-color: black;
}
.navBrand {
  font-weight: 700;
  font-size: x-large;
}
.navBrand:hover {
  text-decoration: underline #ffd800;
  text-decoration-thickness: 5px;
}
.navbar {
  background-color: aliceblue;
}

.linkContainer:hover {
  text-decoration: underline #ffd800;
  text-decoration-thickness: 5px;
}
