body {
  background-color: black;
}
.navBrand {
  font-weight: 700;
  font-size: x-large;
}
.navbar {
  background-color: aliceblue;
}
.linkContainer {
  color: 'black';
  font-weight: '700';
  font-size: 'larger';
  transition: font-size 2s;
}
.linkContainer:hover {
  background-color: #ffd800;
}
